
.action {
  position: relative;
  background-image: url("../img/bg-action.png");
  background-position: -20px center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -30px;
  margin-bottom: 80px;
  z-index: 1;

  &_bottom {
    margin-bottom: -20px;
  }

  &__wrap {
    @include row-flex();
    padding: 100px 0;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__info {
    @include col();
    @include size(6);
    @include md-block() {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 155px;
      width: 100%;
    }
  }

  &__form {
    @include col();
    @include size(5);
    margin: 0;

    @include lg-block() {
      @include lg-block() {
        @include size(6);
      }
    }
  }

  &__headline {
    font-size: 100px;
    font-family: 'Open Sans';
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 20px;

    @include md-block() {
      font-size: 54px;
    }
  }

  &__promo {
    font-size: 26px;
    margin-bottom: 20px;
    @include lg-block() {
      font-size: 22px;
    }
    @include md-block() {
      font-size: 16px;
      width: 250px;
    }
  }
}
