.advantages {
  padding-top: 80px;

  &__wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 67px 120px 67px;
  }

  &__item {
    padding-top: 220px;
    width: 235px;
    text-align: center;
    font-size: 20px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      height: 194px;
      width: 194px;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    &--talk {
      &::before {
        background-image: url("../img/icon-talk.png"), url("../img/bg-icon.png");
        background-position: center;
      }
    }
    &--warranty {
      &::before {
        background-image: url("../img/icon-garantee.png"), url("../img/bg-icon.png");
        background-position: center;
      }
    }
    &--projects {
      &::before {
        background-image: url("../img/icon-projects.png"), url("../img/bg-icon.png");
        background-position: center;
      }
    }
  }
}
