.advantages {
  padding-top: 80px;
  @include xs-block() {
    padding-top: 35px;
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 67px 120px 67px;

    @include md-block() {
      padding-right: 0;
      padding-left: 0;
    }
    @include sm-block() {
      justify-content: space-around;
      padding-bottom: 35px;
    }
  }

  &__item {
    padding-top: 220px;
    width: 235px;
    text-align: center;
    font-size: 20px;
    position: relative;

    @include md-block() {
      font-size: 16px;
      width: 196px;
    }
    @include sm-block() {
      font-size: 14px;
      padding-top: 165px;
      margin-bottom: 15px;
    }
    @include xs-block() {
      margin-bottom: 17px;
      padding-top: 140px;
      width: 140px;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      height: 194px;
      width: 194px;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      @include sm-block() {
        height: 150px;
        width: 150px;
      }
      @include xs-block() {
        height: 120px;
        width: 120px;
      }
    }

    &::before {
      background-image: url("../img/bg-icon.png");
      background-size: contain;
    }

    &::after {
      background-size: 50%;
    }

    &--talk {
      &::after {
        background-image: url("../img/icon-talk.png");
        background-position: center;
      }
    }
    &--warranty {
      &::after {
        background-image: url("../img/icon-garantee.png");
        background-position: center;
      }
    }
    &--projects {
      &::after {
        background-image: url("../img/icon-projects.png");
        background-position: center;
      }
    }
  }
}
