.arrow {
  background-color: #00a4e6;
  color: white;
  font-size: 20px;
  line-height: 30px;
  padding: 12px;
  position: relative;
  height: 84px;

  &::after {
    content: "";
    height: 100%;
    position: absolute;
    border-color: transparent;
    border-style: solid;
  }

  &--right {
    @include col();
    margin-left: 0;
    margin-right: 0;
    @include size(6);
    font-style: italic;

    @include lg-block() {
      @include size(7);
    }

    @include md-block() {
      font-size: 16px;
    }

    @include sm-block() {
      @include size(7);
      font-size: 14px;
      line-height: 16px;
    }


    &::after {
      border-width: 42px;
      border-right-width: 0;
      border-left-width: 30px;
      border-left-color: #00a4e6;
      // width: 30px;
      top: 0;
      right: -30px;
      // background-color: red;
    }
  }

  &--left {
    position: absolute;
    bottom: 50px;
    right: -7px;
    font-size: 14px;
    width: 405px;
    text-transform: uppercase;

    @include lg-block() {
      width: 340px;
    }

    span {
      font-size: 40px;
      font-weight: bold;
      display: block;
      text-transform: none;

      span {
        font-size: 32px;
        display: inline;
      }
    }

    &::after {
      border-width: 42px;
      border-right-width: 30px;
      border-left-width: 0;
      border-right-color: #00a4e6;
      // width: 30px;
      top: 0;
      left: -30px;
      // background-color: red;
    }
  }
}
