.arrow {
  background-color: #00a4e6;
  color: white;
  font-size: 20px;
  line-height: 30px;
  padding: 12px;
  position: relative;

  &::after {
    content: "";
    height: 100%;
    position: absolute;
    border-color: transparent;
    border-style: solid;
  }

  &--right {
    width: 555px;
    font-style: italic;

    &::after {
      border-width: 42px;
      border-right-width: 0;
      border-left-width: 30px;
      border-left-color: #00a4e6;
      // width: 30px;
      top: 0;
      right: -30px;
      // background-color: red;
    }
  }
}
