.container {
  @include wrapper();
  transition: width $trdur ease;
  width: 1170px;

  @include lg-block() {
    width: 970px;
  };

  @include md-block() {
    width: 750px;
  };

  @include sm-block() {
    width: 480px;
  };

  @include xs-block() {
    width: 320px;
  };
}
