.feed-back {
  background-image: linear-gradient(141deg, rgba(255, 255, 255, .5), rgba(255, 255, 255, .2));
  border: 1px  solid white;
  padding: 50px 65px;

  @include md-block() {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 33px;
  }

  &--popup {
    background: white;
    width: 455px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__close {
    position: absolute;
    top: 11px;
    right: 11px;
    border-radius: 50%;
    background-color: $c-blue;
    width: 50px;
    height: 50px;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 3px;
      width: 25px;
      background-color: white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      border-radius: 1px;
    }

    &::after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  &__headline {
    font-size: 32px;
    font-family: "Open Sans";
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1;


    @include md-block() {
      width: 100%;
      text-align: left;
      font-size: 22px;
    }

    span {
      line-height: 1;
      font-size: 22px;
      display: block;
      @include md-block() {
        display: inline;
      }
    }
  }

  &__choise-wrap {
    margin-bottom: 25px;
  }

  &__choise {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  &__label {
    font-size: 14px;
    margin-left: 4px;
    cursor: pointer;
    line-height: 1.5;
    margin-right: 20px;
  }

  &__input {
    width: 100%;
    font-size: 14px;
    color: #35353d;
    line-height: 1;
    padding: 15px;
    border: 0;
    border-radius: 3px;
    margin-bottom: 10px;
    @include md-block() {
      width: 30%;
      margin-right: 10px;
      flex-grow: 1;
      margin-bottom: 0;
    }

    &--border {
      border: 1px solid #cccccc;
    }
  }

  &__btn {
    width: 100%;
    border: 1px solid #ff7e00;
    padding: 14px;
    line-height: 1;

    @include md-block() {
      width: 30%;
      padding: 14px 0;
      flex-grow: 1;
    }
  }
}
