.gifts {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  height: 653px;
  width: 100%;
  overflow: hidden;
  pointer-events: none;

  @include md-block() {
    height: 510px;
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/gifts-left.png");
    height: 100%;
    max-width: 440px;
    top: 0;
    left: -80px;
    background-repeat: no-repeat;
    // background-size: cover;
    background-position: left;
    right: calc(50% + 350px);
    @include md-block() {
      background-size: 344px;
      right: calc(50% + 250px);
    }
  }
  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/gifts-rigth.png");
    background-position: right;
    height: 100%;
    width: 527px;
    top: 0;
    right: -165px;
    background-repeat: no-repeat;
    background-size: cover;
    @include md-block() {
      max-width: 411px;
      top: 0;
      right: 0;
      background-repeat: no-repeat;
      background-size: 527px;
      left: calc(50% + 260px);
    }
  }
}

@media screen and (max-width: 1350px) {

  .gifts {

    &:before,
    &:after {
      display: none;
    }
  }
}
