.header-top {
  padding-bottom: 25px;
  padding-top: 25px;
  border-bottom: 1px solid $c-l-gray;
  margin-bottom: 16px;

  &__wrap {
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    text-align: center;
    color: $c-blue;
    margin-right: 66px;

    @include lg-block() {
      margin-right: 30px;
    }
  }
  &__company {
    &-name {
      font-size: 18px;
    }
    &-slogan {
      font-size: 11px;
      line-height: 1;
    }
  }

  &__right {
    display: flex;
    align-self: flex-start;

    @include md-block() {
      flex-direction: column;
    }
  }

  &__btns {
    display: flex;
    @include sm-block() {
      flex-direction: column;
    }
  }

  &__works {
    padding-left: 20px;
    position: relative;
    font-size: 14px;
    color: #35353d;
    line-height: 18px;
    margin-bottom: 25px;

    @include md-block() {
      width: 187px;
    }

    &::before {
      content: "";
      width: 3px;
      height: 100%;
      background-color: $c-orange;
      top: 0;
      left: 0;
      position: absolute;
    }
  }
  &__search {
    margin-right: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include md-block() {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
    @include sm-block() {
      flex-direction: column;
    }
  }


  &__contacts {
    span {
      color: #cccccc;
      margin: 20px;
    }
  }

  &__call {
    color: #35353d;
    font-weight: bold;
    font-size: 18px;
  }

  &__link {
    font-size: 18px;
    font-family: "Open Sans";
    color: #057da9;
    font-weight: bold;
    text-decoration: none;
  }

  &__btn {
    font-size: 14px;
    color: #057da9;
    text-align: center;
    background-color: white;
    border: 1px solid;
    padding: 10px;
    width: 300px;
    line-height: 1;
    border-radius: 3px;
    margin-top: 12px;
    cursor: pointer;

    @include lg-block() {
      width: 260px;
    }

    @include sm-block() {
      width: 100%;
    }

    &:first-of-type {
      margin-right: 10px;
    }

    &:hover {
      color: #000000;
    }
  }
}
