.header-top {
  padding-bottom: 25px;
  padding-top: 35px;
  border-bottom: 1px solid $c-l-gray;
  margin-bottom: 16px;

  .container {
    @include sm-block() {
      position: static!important;
    }
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    @include sm-block() {
      //position: relative;
    }
  }

  &__logo {
    text-align: center;
    color: $c-blue;
    margin-right: 66px;

    @include lg-block() {
      margin-right: 30px;
    }
    @include sm-block() {
      margin-right: 0;
      width: 130px;
    }
    @include xs-block() {
      width: 93px;
    }
  }
  &__company {
    &-name {
      font-size: 18px;
      @include xs-block() {
        font-size: 13px;
      }
    }
    &-slogan {
      font-size: 11px;
      line-height: 1;
      @include xs-block() {
        font-size: 8px;
      }
    }
  }

  &__right {
    display: flex;
    align-self: flex-start;

    @include md-block() {
      flex-direction: column;
    }
    @include sm-block() {
      background-color: #fff;
      padding: 20px 0;
      position: absolute;
      top: 110px;
      left: 50%;
      margin-left: -225px;
      z-index: 9;
      width: 450px;
    }

    &:before {
      @include sm-block() {
        background-color: #fff;
        content: '';
        position: absolute;
        top: 0;
        bottom: -250px;
        right: -250px;
        left: -250px;
      }
    }
  }

  &__btns {
    display: flex;
    @include sm-block() {
      flex-direction: column;
      margin-top: 13px;
    }
  }

  &__works {
    padding-left: 20px;
    position: relative;
    font-size: 14px;
    color: #35353d;
    line-height: 18px;
    margin-bottom: 25px;

    @include md-block() {
      width: 187px;
    }

    &::before {
      content: "";
      width: 3px;
      height: 100%;
      background-color: $c-orange;
      top: 0;
      left: 0;
      position: absolute;
    }
  }
  &__search {
    margin-right: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include md-block() {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
    @include sm-block() {
      flex-direction: column;
    }
  }


  &__contacts {
    @include sm-block() {
      margin-top: 25px;
      position: relative;
    }

    span {
      color: #cccccc;
      margin: 20px;
    }
  }

  &__call {
    color: #35353d;
    font-weight: bold;
    font-size: 18px;
    line-height: 13px;
    margin-bottom: 4px;
    @include sm-block() {
      margin-bottom: 10px;
    }
  }

  &__link {
    font-size: 24px;
    font-family: 'Open Sans';
    color: #057da9;
    font-weight: 700;
    text-decoration: none;
    @include sm-block() {
      font-size: 20px;
    }
  }

  &__btn {
    font-size: 14px;
    color: #057da9;
    text-align: center;
    background-color: white;
    border: 1px solid;
    height: 35px;
    width: 300px;
    line-height: 1;
    border-radius: 3px;
    margin-top: 12px;
    cursor: pointer;

    @include lg-block() {
      width: 260px;
    }

    @include sm-block() {
      width: 100%;
    }

    &:first-of-type {
      margin-right: 10px;
    }

    &:hover {
      color: #000000;
    }
  }
}
