  .page-header {
  padding-bottom: 190px;
  background-image: url("../img/bg-header.jpg");
  background-size: cover;
  background-position: bottom center;

  &__wrap {
    position: static;

    @include sm-block() {
      position: fixed;
      min-height: 100vh;
      width: 100%;
      left: 0;
      top: 0;
      background-color: white;
      z-index: 10;
    }
  }

  &__promo {
    margin-top: 90px;
  }
  &__btns {
    justify-content: center;
    display: flex;
    @include row-flex();

    .btn {
      @include col();
      @include size(6);
    }
  }

  &__main-words {
    font-size: 70px;
    color: #057da9;
    text-transform: uppercase;
    line-height: 1.286;
    font-weight: 900;
    margin-bottom: 45px;

    @include lg-block() {
      font-size: 60px;
    }

    @include md-block() {
      font-size: 48px;
    }

    span {
      color: #35353d;
      font-size: 30px;
      display: block;
      font-weight: bold;


      @include lg-block() {
        font-size: 26px;
      }

      @include md-block() {
        font-size: 22px;
      }
    }
  }
}
