.page-footer {
  background-color: $c-bg-gray;
  padding-top: 80px;
  padding-bottom: 55px;

  &__wrap {
    @include row-flex();
  }

  &__menu {
    @include col();
    @include size(4);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include md-block() {
      @include size(6);
    }
    @include sm-block() {
      @include size(12);
    }

    &-link {
      width: 49%;
      margin-bottom: 20px;
      text-decoration: none;
      color: $c-blue;
      font-size: 14px;
      transition-duration: $trdur;

      &:hover {
        color: $c-white;
      }
    }
  }

  &__contacts {
    @include col();
    @include size(5);
    color: #ffffff;
    font-size: 14px;
    line-height: 1.5;
    @include md-block() {
      @include size(6);
    }
    @include sm-block() {
      @include size(12);
    }

    a {
      margin-top: 30px;
      display: block;
      text-decoration: none;
      color: #ffffff;
    }
  }

  &__contact-type {
    color: #ffb114;
  }

  &__right {
    @include col();
    @include size(3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include md-block() {
      @include size(12);
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-top: 30px;
    }
    @include sm-block() {
      justify-content: space-between;
    }
  }

  &__btn {
    color: #ffffff;
    padding: 10px;
    text-align: center;
    border: 1px solid #9a9a9e;
    text-decoration: none;
    font-size: 14px;
    @include md-block() {
      padding-right: 60px;
      padding-left: 60px;
    }
    @include sm-block() {
      @include size(8);
      padding-left: 0;
      padding-right: 0;
    }
  }
  &__copyright {
    font-size: 13px;
    color: rgb(255, 255, 255);
    text-align: right;

    @include md-block() {
      margin-left: 82px;
    }
    @include sm-block() {
      @include size(6);
      margin-left: 0;
    }
  }
  &__copy-link {
    color: $c-blue;
    text-decoration: none;
    transition-duration: $trdur;

    &:hover {
      color: $c-white;
    }
  }
}
