.pf-slider {
  position: relative;
  margin-top: 25px;

  &__item {
    display: flex !important;
    position: relative;
    background: #fff;
    padding: 10px;
    margin: 0 20px;

    @include md-block() {
      flex-direction: column;
    }
    @include xs-block() {
      margin: 0 10px;
    }
  }

  &__img {
    width: 60%;
    overflow: hidden;
    background-size: cover;
    background-position: center;

    @include size(8);
    @include md-block() {
      width: 100%;
      height: 470px;
    }
    @include xs-block() {
      height: auto;
      width: 100%;
    }

    img {
      flex-grow: 1;
      margin-right: 30px;
      min-width: 100%;
    }
  }

  &__descr {
    width: 360px;
    margin-left: auto;
    padding-top: 70px;
    padding-bottom: 150px;
    padding-right: 15px;

    @include lg-block() {
      width: 293px;
    }
    @include md-block() {
      width: 100%;
      padding-bottom: 0;
    }
    @include sm-block() {
      padding-top: 20px;
    }
  }

  &__arrow {
    position: absolute;
    @include md-block() {
      top: 370px;
      bottom: 0;
    }
    @include xs-block() {
      top: 90px;
    }
  }

  &__name {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 25px;
    @include xs-block() {
      font-size: 16px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 1.5;
    @include lg-block() {
      font-size: 14px;
    }
    @include xs-block() {
      font-size: 13px;
    }
  }

  &__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;

    li {
      display: flex;
      align-items: center;
    }
  }

  &__dot {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 3px solid #ff9300;
    margin: 0 7.5px;
    cursor: pointer;

    &--active {
      height: 21px;
      width: 21px;
      background-image: linear-gradient(to top, #ff9300 66%, #ffb517);
      border: 0;
      box-shadow: inset 0 -2px 0 #ff6c00;
      cursor: default;
    }
  }
}


.slick-dots {
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin-top: 18px;

  button {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 3px solid #ff9300;
    margin: 0 7.5px;
    cursor: pointer;
    font-size: 0;
    padding: 0;
    transition: width 0s ease;

    &:hover {
      border-color: #2293d7;
    }
  }
}

.slick-active {
  button {
    height: 21px;
    width: 21px;
    background-image: linear-gradient(to top, #ff9300 66%, #ffb517);
    border: 0;
    box-shadow: inset 0 -2px 0 #ff6c00;
    cursor: default;
  }
}
