.work-scheme {
  padding-top: 80px;
}

.scheme {
  counter-reset: list 0;
  position: relative;
  height: 500px;
  margin-top: 50px;
  margin-bottom: 80px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 138px);
    height: 252px;
    border: 3px dotted #15a4d9;
    border-radius: 126px;
  }

  &__item {
    position: absolute;

    &::before {
      content: "";
      position: absolute;
      height: 16px;
      width: 17px;
      border-left: 2px solid #15a4d9;
      border-top: 2px solid #15a4d9;
      z-index: 2;
    }

    &--you {
      top: 50%;
      transform: translateY(-50%);
      left: 7px;

      &::before {
        bottom: -11px;
        left: 76px;
        transform: rotate(13deg) skew(5deg);
      }
    }

    &--build {
      top: 50%;
      transform: translateY(-50%);
      right: 7px;

      &::before {
        top: -10px;
        left: 38px;
        transform: rotate(192deg);
      }
    }

    &--mail {
      top: 60px;
      left: 27%;
      transform: translateX(-50%);


      &::before {
        top: 45%;
        left: -20px;
        transform: rotate(135deg)  skew(5deg);
      }
    }

    &--measure {
      top: 60px;
      left: 50%;
      transform: translateX(-50%);


      &::before {
        top: 45%;
        left: -20px;
        transform: rotate(135deg)  skew(5deg);
      }
    }

    &--project {
      top: 60px;
      right: 27%;
      transform: translateX(50%);


      &::before {
        top: 45%;
        left: -20px;
        transform: rotate(135deg)  skew(5deg);
      }
    }

    &--discount {
      bottom: 60px;
      left: 27%;
      transform: translateX(-50%);

      &::before {
        right: -17px;
        top: 43%;
        transform: rotate(-45deg) skew(5deg);
      }
    }

    &--clean {
      bottom: 60px;
      left: 50%;
      transform: translateX(-50%);


      &::before {
        right: -17px;
        top: 43%;
        transform: rotate(-45deg) skew(5deg);
      }
    }

    &--acts {
      bottom: 60px;
      right: 27%;
      transform: translateX(50%);


      &::before {
        right: -17px;
        top: 43%;
        transform: rotate(-45deg) skew(5deg);
      }
    }
  }

  &__icon {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 10px solid white;

    &--you {
      background-position: center;
      background-size: 55px 60px, cover;
      background-image: url("../img/icon-you.png"), url("../img/bg-icon.png");
      background-repeat: no-repeat;
    }

    &--mail {
      background-position: center;
      background-size: 59px 53px, cover;
      background-image: url("../img/icon-mail.png"), url("../img/bg-icon.png");
      background-repeat: no-repeat;
    }

    &--measure {
      background-position: center;
      background-size: 64px, cover;
      background-image: url("../img/icon-measure.png"), url("../img/bg-icon.png");
      background-repeat: no-repeat;
    }

    &--project {
      background-position: center;
      background-size: 50px, cover;
      background-image: url("../img/icon-project.png"), url("../img/bg-icon.png");
      background-repeat: no-repeat;
    }
    &--build {
      background-position: center;
      background-size: 52px, cover;
      background-image: url("../img/icon-build.png"), url("../img/bg-icon.png");
      background-repeat: no-repeat;
    }
    &--acts {
      background-position: center;
      background-size: 51px, cover;
      background-image: url("../img/icon-acts.png"), url("../img/bg-icon.png");
      background-repeat: no-repeat;
    }
    &--clean {
      background-position: center;
      background-size: 77px, cover;
      background-image: url("../img/icon-clean.png"), url("../img/bg-icon.png");
      background-repeat: no-repeat;
    }
    &--discount {
      background-position: center;
      background-size: 63px, cover;
      background-image: url("../img/icon-discount.png"), url("../img/bg-icon.png");
      background-repeat: no-repeat;
    }
  }

  &__text {
    padding: 5px 10px;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 16px;
    width: 225%;

    @include lg-block() {
      font-size: 15px;
      width: 165%;
    }

    &--mail {
      top: -60px;

      @include lg-block() {
        top: -75px;
      }
    }
    &--measure {
      // width: 210%;
      top: -60px;

      @include lg-block() {
        top: -75px;
      }
    }
    &--project {
      // width: 200%;
      top: -60px;

      @include lg-block() {
        top: -75px;
      }
    }

    &--you {
      width: auto;
    }

    &--cnt {
      &::before {
        counter-increment: list;
        content: counter(list) ". ";
        font-weight: bold;
      }
    }
  }
}
