.service {
  @include col();
  @include size(6);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__name {
    font-size: 32px;
    font-family: 'Open Sans';
    color: rgb(53, 53, 61);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    margin-top: 12px;
    @include sm-block() {
      font-size: 18px;
    }
    @include xs-block() {
      font-size: 14px;
      margin-top: 15px;
    }
  }

  &__price {
    font-size: 18px;
    font-family: 'Open Sans';
    color: rgb(53, 53, 61);
    line-height: 1;
    text-align: center;
    margin-top: 12px;
    @include sm-block() {
      font-size: 14px;
    }
    @include xs-block() {
      font-size: 13px;
      margin-top: 7px;
    }
  }

  &__btn {
    margin-top: 25px;
    @include sm-block() {
      font-size: 12px;
      padding-left: 20px;
      padding-right: 20px;
    }
    @include xs-block() {
      margin-top: 16px;
    }
  }

  &__round {
    width: 245px;
    height: 245px;
    border-radius: 50%;
    border: 2px solid #e6e6e6;
    position: relative;
    background-size: cover;
    background-position: center;
    @include sm-block() {
      height: 160px;
      width: 160px;
    }
    @include xs-block() {
      height: 120px;
      width: 120px;
    }

    &--two {
      margin-left: 75px;
    }

    &--small {
      position: absolute;
      width: 170px;
      height: 170px;
      bottom: 12px;
      left: -75px;
      @include sm-block() {
        left: -35px;
        height: 100px;
        width: 100px;
      }
      @include xs-block() {
        left: -18px;
        bottom: -3px;
        height: 70px;
        width: 70px;
      }
    }
  }
}
