.services {
  padding-top: 50px;
  padding-bottom: 100px;
  &__wrap {
    display: flex;
    justify-content: center;
  }

  &__promo {
    font-size: 22px;
    line-height: 38px;
    color: #35353d;
    text-align: center;
    margin-bottom: 40px;
  }

  &__wrap {
    @include row-flex();
    margin-top: 60px;
    display: flex !important;
  }
}
