.slogan {
  height: 590px;
  background-image: url("../img/bg-promo.jpg");
  background-position: center bottom;
  padding-top: 110px;
  @include sm-block() {
    background-position-x: -475px;
    padding-top: 50px;
  }

  &__text {
    font-weight: 900;
    color: #35353d;
    font-size: 80px;
    text-transform: uppercase;
    text-align: right;

    @include lg-block() {
      font-size: 70px;
    }
    @include md-block() {
      font-size: 54px;
    }
    @include sm-block() {
      font-size: 30px;
    }

    span {
      display: block;
      font-size: 60px;

      @include lg-block() {
        font-size: 50px;
      }
      @include md-block() {
        font-size: 40px;
      }
      @include sm-block() {
        font-size: 24px;
      }
    }
  }
}
