.tabs {
  &__headers {
    display: flex;
    justify-content: center;
    border-radius: 3px;
    border: 2px solid #00a4e6;
  }

  &__header {
    font-size: 16px;
    font-family: "Open Sans";
    color: rgb(5, 125, 169);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    padding: 20px;
    width: 390px;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    cursor: pointer;

    &:hover {
      color: black;
      text-decoration: none;
    }

    &--active {
      // background-color: #00a4e6;
      // border-radius: 3px 0 0 3px;
      // color: white;
    }
  }
  &__header.slick-current {
    background-color: #00a4e6;
    color: white;
    text-decoration: none;
    cursor: default;
  }
}
