.tabs {

  &__headers {
    display: flex;
    justify-content: center;
    border-radius: 3px;
    border: 2px solid #00a4e6;
    height: 53px;
    width: 780px;
    margin: 0 auto;
    box-sizing: border-box;
    @include md-block () {
      width: 100%;
    }
  }

  &__header {
    font-size: 16px;
    font-family: 'Open Sans';
    color: rgb(5, 125, 169);
    font-weight: 700;
    text-transform: uppercase;
    height: 49px;
    line-height: 49px;
    text-align: center;
    //padding: 20px;
    width: 390px;
    cursor: pointer;

    @include md-block () {
      width: 50%;
    }
    @include sm-block () {
      font-size: 12px;
    }
    @include xs-block () {
      font-size: 10px;
      padding: 0 20px;
    }

    span {
      display: inline-block;
      line-height: normal;
      vertical-align: middle;
      @include xs-block() {
        line-height: 16px;
      }

      u {
        border-bottom: 2px dotted #00a4e6;
        text-decoration: none;
      }
    }

    &:hover {
      color: #000;
      text-decoration: none;

      span {
        border-color: transparent;
      }
    }

    &:focus {
      outline: none;
    }

    &--active {
      background-color: #00a4e6;
      color: #fff;
      text-decoration: none;
      cursor: default;

      &:hover {
        color: #fff;
      }
    }
  }
  &__header.slick-current {
    background-color: #00a4e6;
    color: #fff;
    text-decoration: none;
    cursor: default;
  }
}
