.workers {
  background-image: url("../img/bg-workers.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 92px;
  padding-bottom: 62px;
  @include sm-block() {
    padding-top: 52px;
    padding-bottom: 40px;
  }

  &__slider {
    border: 10px solid #fff;
    background-color: #fff;
    margin-top: 25px;
  }

  &__slide {
    display: flex !important;
    align-items: flex-start;
    @include xs-block() {
      display: block !important;
    }
  }

  &__image {
    @include size(5);
    @include md-block() {
      width: auto;
    }
    @include sm-block() {
      width: 208px;
    }
    @include xs-block() {
      margin-bottom: 15px;
      width: 100%;
    }

    .btn {
      display: none;
      @include sm-block() {
        display: block;
      }
      @include xs-block() {
        display: none;
      }
    }
  }

  &__descr {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    @include size(7);
    margin-left: auto;
    padding-top: 60px;

    @include md-block () {
      padding-top: 0;
      padding-right: 0;
      margin-left: 30px;
    }
    @include sm-block () {
      font-size: 14px;
      margin-left: 15px;
    }
    @include xs-block () {
      text-align: center;
      @include size(12);
    }

    .btn {
      @include sm-block() {
        display: none;
      }
      @include xs-block() {
        display: block;
        width: 100%;
      }
    }
  }

  &__name {
    font-size: 22px;
    font-weight: 700;
    @include sm-block() {
      font-size: 16px;
    }
  }

  &__surname {
    text-transform: uppercase;
  }

  &__exp {
    margin-top: 30px;
  }

  &__text {
    margin-top: 30px;
  }

  &__btn {
    align-self: flex-start;
    margin-top: 25px;
    padding-left: 60px;
    padding-right: 60px;
    letter-spacing: 1px;
    @include sm-block() {
      font-size: 12px;
      padding-left: 34px;
      padding-right: 34px;
    }
  }

  &__slider-controls {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  &__slider-arrow {
    background-color: #16a6dc;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 15px;
    position: relative;
    cursor: pointer;

    &--next {
      transform: rotate(180deg);
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 4px;
      width: 17px;
      border-radius: 2px;
      background-color: white;
      top: 25px;
      left: 15px;
      transform-origin: top left;
    }

    &::before {
      transform: rotate(-45deg);
    }
    &::after {
      transform: rotate(45deg);
      top: 22px;
      left: 18px;
    }
  }
}


.slick-arrow {
  background-color: #16a6dc;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 15px;
  position: relative;
  cursor: pointer;
  font-size: 0;
  border: 0;

  &:hover {
    background-color: #0362a5;
  }

  &.slick-next {
    transform: rotate(180deg);
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 17px;
    border-radius: 2px;
    background-color: white;
    top: 25px;
    left: 15px;
    transform-origin: top left;
  }

  &::before {
    transform: rotate(-45deg);
  }
  &::after {
    transform: rotate(45deg);
    top: 22px;
    left: 18px;
  }
}
